html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}

p
{
    font-size: 16px;
    line-height: 2;
}

body {
    border: 2px solid;
    width: 800px;
    margin: 0px auto;
}

/* #toaster {
    border: 2px solid;
 } */

#toaster{
    /* display: block; */
    margin: 400px 0px 50px 100px;
    width: 600px;
    cursor: pointer;
}

#toastBox { /*makes box for toast to show up in*/
    /* border: 2px solid; */
    position: absolute;
    width: 250px;
    top: 100px;
    left: 500px;
    z-index: -1;
}

 /*applies to anyone with the toast class, cute, burnt, etc.*/
.popup {
    width: 250px;
    transform: translateY(100%); /*this is what moved the box all the way to the right in the other guys tutorial*/
    animation: moveup 0.5s linear forwards; /*attaches to keyframes name, speed, linear speed, retain final values*/
}

@keyframes moveup {
    100% { /*100% * 0.5s = 0.5s*/
        transform: translateY(0);
    }
}
