html {
    font-size: 10px;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: url("/images/special-toast.jpeg");
    touch-action: manipulation;
}

body {
    margin-top: 15vh;
}

.parentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: snow;
    height: 70vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid;
}

#glitterHeadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

#glitterHeading {
    width: 100%;
}

#toastBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 30vw;
    height: 120px;
}

#imgContainer {
    display: flex;
    justify-content: center;
}

#toaster{
    width: 50%;
    z-index: 30;
    cursor: pointer;
}

#instructions
{
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 2;
}

.counter {
    font-size: 1.5rem;
}

.countBread,
.grade {
    font-weight: bold;
}

#tennielStudio {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2;
}

#toasterCredit {
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    font-size: .5rem;
}

#bananaCredit {
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    font-size: .5rem;
}

/*starts at iPad Mini*/
@media only screen and (min-width: 550px) {
    body {
        margin-top: 6vh;
    }

    .parentContainer{
        height: 80vh;
    }

    #glitterHeadingWrapper {
        margin-top: 4vh;
    }

    #glitterHeading {
        width: 95%;
    }

    #instructions {
        font-size: 1.9rem;
    }

    .counter {
        font-size: 1.7rem;
    }

    #tennielStudio {
        font-size: 1.4rem;
    }

    #toastBox {
        width: 20vw;
        height: 20vh;
    }
}

/*starts at Laptop Size*/
@media only screen and (min-width: 800px) { 
    .parentContainer{
        height: 89vh;
        width: 60vw;
    }

    #instructions {
        font-size: 2.0rem;
    }

    .counter {
        font-size: 1.9rem;
    }

    #tennielStudio {
        font-size: 1.6rem;
    }
    
    #toastBox {
        height: 20vh;
    }

    #glitterHeading {
        width: 90%;
    }
}

#confetti {
    height: 0;
    width: 0;
}

.popup {
    transform: translateY(100%);
    width: 20vw;
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        transform: translateY(0);
    }
}
