html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}

p
{
    font-size: 16px;
    line-height: 2;
}

body {
    border: 2px solid;
    width: 800px;
    margin: 0px auto;
}

#toaster {
    border: 2px solid;
 }

#toaster{
    /* display: block; */
    margin: 400px 0px 50px 100px;
    width: 600px;
}

#specialToast {
    display: none;
}

#canvas {
    width: 400px;
    position: absolute;
    top: 0px;
    left: 450px;
    z-index: -1;
}

/* .special-toast {
    width: 400px;
}

.special-toast {
    position: absolute;
    bottom: 600px;
    left: 90px;
}

.special-toast  {
    z-index: -1;
} */
